/* Cartshopping.css */

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cart-items {
  width: 100%;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.product-details {
  flex-grow: 1;
  padding: 10px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  color: #888;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.product-quantity svg {
  cursor: pointer;
  font-size: 20px;
  color: #888;
  margin: 0 5px;
}

.product-quantity span {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  color: black;
}

.remove {
  cursor: pointer;
  font-size: 16px;
  color: #f00;
}

.total-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

h5 {
  margin: 0;
}
