.product-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  .product-filter {
    flex-direction: column;
  }
}
.clock-container {
  font-size: 32px;
  margin-left: 20px;
}
